<section class="invitation">
  <div class="invitation__header">

    <div class="invitation__header-title">
      <p>
        NOS CASAMOS
      </p>
      <h1>Anel y José</h1>
      <p>
        14 de Febrero 2026
      </p>
      <!-- <div class="flex flex-col items-center gap-2 ">
        <span class="text-xl font-medium">Scroll Down</span>
        <span
          class="animate-bounce h-8 w-8 bg-primary text-primary-contrast rounded-full inline-flex items-center justify-center">
          <i class="pi pi-arrow-down"></i>
        </span>
      </div> -->
    </div>

  </div>


  <div class="invitation__content">

    <div class="invitation__message">

      <p>A veces lo que empieza como una
        locura se convierte en lo mejor
        de tu vida
      </p>

      <i class="fa-solid fa-heart"></i>

    </div>

    <music-component />
    <!--
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/UPw1a2ADDyA?si=co8WCJbNpfYA42Vz"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div> -->




    <div class="invitation__people">
      <div class="invitation__people-block">

        <span class="block-1">
          Con la bendición de Dios y en compañía de nuestros padres
        </span>

        <div class="block-2">
          <span>Padres de la novia</span>
          <ul>
            <!-- <li>Sr. Roberto Gonzáles Traviño</li>
            <li>Sra. Ana Garza Martínez</li> -->
          </ul>
        </div>

        <div class="block-3">
          <span>Padres del novio</span>
          <ul>
            <!-- <li>Sr. Roberto Gonzáles Traviño</li>
            <li>Sra. Ana Garza Martínez</li> -->
          </ul>
        </div>

        <span class="block-4">
          Nos complace invitarte a ser parte de este gran día.
        </span>

      </div>
    </div>

    <div class="invitation__counter">
      <span>Falta</span>

      <div data-aos="zoom-in"
        class="flex flex-col">

        <div *ngIf="!contadorService.eventoFinalizado; else eventoTerminado"
          class="grid grid-cols-2 gap-8 w-full bg-transparente p-4 md:flex md:justify-center">
          <div class="tiempo">
            <span>{{ contadorService.dias }}</span> DÍAS
          </div>
          <div class="tiempo">
            <span>{{ contadorService.horas }}</span> HORAS
          </div>
          <div class="tiempo">
            <span>{{ contadorService.minutos }}</span> MINUTOS
          </div>
          <div class="tiempo">
            <span>{{ contadorService.segundos }}</span> SEGUNDOS
          </div>
        </div>

        <ng-template #eventoTerminado>
          <div class="text-center p-8">
            <h1 class="text-4xl font-bold">¡La fiesta ha comenzado!</h1>
          </div>
        </ng-template>

      </div>

      <span>para nuestra boda</span>

    </div>

    <div class="invitation__location">

      <h3>Dónde y Cuándo</h3>

      <div class="invitation__location-block">
        <img src="https://eventobonito.com/wp-content/uploads/2024/02/fotosderecepcion.jpg"
          alt="iglesis">

        <div class="info">
          <span>Ceremonia y Salón</span>

          <p>Las Jacarandas</p>

          <p>18:00 hrs</p>

          <p>Manzana 009, Sta Cruz Otzacatipan, 50210 Santa Cruz Otzacatipan, Méx.</p>

          <a target="_blank"
            href="https://www.google.com/maps/place/Las+Jacarandas+-+Salon,+Jardin+y+Hotel/@19.3366953,-99.6304024,15.46z/data=!4m6!3m5!1s0x85d2758e42dd8fc1:0x27fa324842bdca2a!8m2!3d19.3413694!4d-99.6050911!16s%2Fg%2F11f5vc174v?entry=ttu&g_ep=EgoyMDI1MDgyNS4wIKXMDSoASAFQAw%3D%3D">Ver
            Mapa</a>
        </div>

      </div>

      <!-- <div class="invitation__location-block">
        <img src="https://eventobonito.com/wp-content/uploads/2024/02/fotosderecepcion.jpg"
          alt="salon">

        <div class="info">
          <span>Recepción</span>

          <p>La casa de Mónico</p>

          <p>20:00 hrs</p>

          <p>C. de Cabeza de Manzaneda, 105, 28023 Madrid</p>

          <a href="">Ver Mapa</a>
        </div>

      </div> -->

    </div>

    <div class="invitation__itinerary">
      <p>Te compartimos los detalles de la celebración</p>

      <div class="invitation__itinerary-block"
        #block
        *ngFor="let step of [
      { time: '15:30 HRS', title: 'Bienvenida a los invitados', img: 'https://eventobonito.com/wp-content/uploads/2024/02/iconocolordoradocopas-300x300.png' },
      { time: '16:00 HRS', title: 'Ceremonia Religiosa', img: 'https://eventobonito.com/wp-content/uploads/2024/02/iconocolordoradoiglesia-300x300.png' },
      { time: '18:00 HRS', title: 'Recepción', img: 'https://eventobonito.com/wp-content/uploads/2024/02/iconocolordoradoplato-300x300.png' }
    ]; let i = index">

        <div class="icon"
          [ngClass]="{'active': progress[i] >= 50}">
          <i class="fa-regular fa-heart"></i>
        </div>


        <div class="info">
          <p>{{ step.time }}</p>
          <span>{{ step.title }}</span>
          <img [src]="step.img"
            alt="">
        </div>

        <div class="progress-line">
          <div class="progress-fill"
            [style.height.%]="progress[i]"></div>
        </div>
      </div>
    </div>

    <div class="invitation__attendance">
      <div class="border"></div>
      <h2>Confirmar Asistencia</h2>
      <p>¿Nos acompañas?</p>

      <img src="https://specially.love/icons/news/love-letter.png"
        alt="icon letter"
        (click)="toggleOptions()" />

      <a *ngIf="!showOptions"
        (click)="toggleOptions()">Pulsa en el sobre</a>

      <div class="attendance-options"
        *ngIf="showOptions">
        <p>¿A quién deseas confirmar?</p>
        <a href="https://wa.me/7223396906?text=¡Hola!%20Quisiera%20confirmar%20mi%20asistencia%20🙂"
          target="_blank"
          (click)="hideOptions()">Opción uno</a>
        <a href="https://wa.me/4463947108?text=¡Hola!%20Quisiera%20confirmar%20mi%20asistencia%20🙂"
          target="_blank"
          (click)="hideOptions()">Opción dos</a>
      </div>

      <div class="border border--2"></div>
    </div>


    <div class="invitation__block">

      <div class="invitation__outfit">
        <h2>Código de vestimenta</h2>
        <p>FORMAL</p>
        <img src="https://eventobonito.com/wp-content/uploads/2024/02/iconodresscode.png"
          alt="">


      </div>


      <div class="invitation__gifts">
        <h2>Regalos</h2>
        <p>El regalo es opcional, la asistencia obligatoria, pero si quieres tener un detalle con nosotros, te damos
          algunas ideas.</p>

        <!-- <details>
          <summary><span>Ver número de cuenta</span></summary>
          <p>
            Santander <br>
            ES99 0000 0000 0000 <br>
            Andrés González González
          </p>
        </details> -->

        <div class="caja">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971970/regalo-sobre_ygem1r.svg"
            alt="sobre">
          <span>Caja de sobres</span>
        </div>

      </div>

      <!-- <div class="invitation__playlist">
        <h2>¿Nos ayudas con la playlist?</h2>

        <a href="">AGREGAR UNA CANCIO + </a>

        <iframe width="420"
          height="315"
          src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
      </div> -->
    </div>

    <div class="invitation__attendance">

      <div class="border">
      </div>

      <h2>Album de fotos</h2>

      <img src="https://specially.love/icons/news/photo-camera-2.png"
        alt="camara"
        style="width: 7rem;">

      <p>¡Ayúdanos a inmortalizar cada momento!</p>

      <p>Escanea este QR o haz clic en él y comparte las fotos que tomes durante la boda.
        ¡Nos hará muchísima ilusión
        verlas!</p>

      <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1760506824/qr_wmcnei.png"
        alt="icon letter"
        style="width: 15rem; margin-bottom: 7rem;">

      <div class="border border--2">
      </div>
    </div>


    <div class="block">

      <div class="invitation__agradecimiento">
        <span>Gracias por acompañarnos en este día tan especial para nosotros

        </span>
        <i class="fa-solid fa-heart"></i>

      </div>


      <div class="invitation__gallery">
        <div class="invitation__gallery-block">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1760506986/gallery-1_tn8q8o.jpg"
            alt="galeria">
        </div>
        <div class="invitation__gallery-block">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1760506991/gallery-2_chuefi.jpg"
            alt="galeria">
        </div>
        <div class="invitation__gallery-block">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1760506991/gallery-3_ysakzs.jpg"
            alt="galeria">
        </div>
        <div class="invitation__gallery-block">
          <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1760506989/gallery-4_yark7t.jpg"
            alt="galeria">
        </div>
      </div>

    </div>





  </div>
</section>