// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 2048px;


// Invitacion Jaqueline

$primario: #ffffff;
$primario-secundario: #e5e5db;
$primario-secundario-transparente: #F7F6F3;
$secundario: #213152;
$tercero: #3f5b8d;
$cuarto: #697f73;

// proyecto
$main: #142833;
$main-second: #1d2b33;
$main-transparente: #14283336;
$secondary: #897D5C;
$secondary-transparente: #897d5c2a;
$secondary-second: #F7EEE4;
$secondary-third: #f1e4d4;
$secondary-fourth: #fcf5d4;

//general
$white: #ffffff;
$black: #000000;
$gris: #4242427a;
$gris-claro: #F8FAFC;
$gris-claro-second: #EDEDED;
$gris-oscuro: #1E293B;
$black-transparent: #00000088;
$transparent: #ffffff00;
$azul: #2263AF;
$rojo: #A90000;
$transparente: #ffffff00;

// Boda anel
$anel-principal: #55665C;
$bg-page-anel: #FAF4EB;

// Boda lissette
$bg-page-lissette: #ECE8DC;
$lis-principal: #55665C;
$lis-secondaty: #8D161C;
$lis-tertiary: #C5BEB3;
